{% extends "home.html" %}
{% block title %}Ajout Artiste{% endblock %}
{% block style %} 
<link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}
{% block content %}
    <main>
        <a href="{{url_for('ajouter_artiste')}}">Ajouter Artiste</a>
        <a href="{{url_for('ajouter_groupe')}}">Ajouter Groupe</a>
        <a href="{{url_for('ajouter_concert')}}">Ajouter Concert</a>
        <a href="{{url_for('ajouter_artiste_groupe')}}">Ajouter Artiste au Groupe</a>
    </main>
{% endblock %}
